.wrapper {
    flex: 1 1 calc(100% - 925px);
    margin-left: 20px;
    background-color: #f5f5fa;
    display: block;
  }
  .infoCustomer {
    border-radius: 4px;
  }
  .info {
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-bottom: 12px;
  }
  .header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .header h3 {
    color: rgb(128, 128, 137);
    font-weight: normal;
    margin: 0px;
  }
  .name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(56, 56, 61);
    margin-bottom: 2px;
    font-weight: 600;
  }
  .name p {
    margin: 0px;
    word-break: break-word;
  }
  .name i {
    display: block;
    width: 1px;
    height: 20px;
    background-color: rgb(235, 235, 240);
    margin: 0px 8px;
  }
  .address {
    color: rgb(128, 128, 137);
    font-weight: normal;
  }
  .address span {
    color: rgb(0, 171, 86);
    background-color: rgb(239, 255, 244);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 0px 6px;
    border-radius: 100px;
    margin-right: 4px;
    height: 18px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .voucher {
    border-radius: 4px;
    margin-bottom: 12px;
    position: relative;
    padding: 16px;
    background-color: rgb(255, 255, 255);
  }
  .headerVoucher {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .platFormCoupon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(11, 116, 229);
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
  }
  .platFormCoupon svg {
    margin-right: 8px;
  }
  .payment {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    padding-bottom: 8px;
  }
  .payment ul {
    list-style: none;
    margin: 0px;
    padding: 17px 20px;
    border-bottom: 1px solid rgb(244, 244, 244);
  }
  .payment ul li {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .payment ul li span:nth-child(1) {
    font-weight: 300;
    color: rgb(51, 51, 51);
    display: inline-block;
  }
  .priceTotal {
    padding: 17px 20px;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 0px;
  }
  .priceTotal span {
    font-weight: 300;
    color: rgb(51, 51, 51);
    display: inline-block;
  }
  .pricesContent {
    text-align: right;
  }
  .pricesContent span {
    color: rgb(254, 56, 52);
    font-size: 22px;
    font-weight: 400;
    text-align: right;
  }
  
  .pricesContent span:nth-child(2) {
    font-weight: 300;
    font-style: normal;
    display: block;
    font-size: 12px;
    color: rgb(51, 51, 51);
    margin-top: 3px;
  }
  .priceAsa {
    margin: 0px 16px;
  }
  .astraSummary {
    background-color: rgb(242, 240, 254);
    padding: 12px;
    border-radius: 8px;
  }
  .astraFlex {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .labelMain {
    color: rgb(64, 45, 161);
  }
  .valueAstra {
    text-align: right;
  }
  .valueAstra span:nth-child(1) {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: end;
    font-weight: 500;
    color: rgb(111, 85, 237);
  }
  .valueAstra span:nth-child(1) svg {
    margin-right: 4px;
  }
  .valueAstra span:nth-child(2) {
    display: block;
    font-size: 12px;
    color: rgb(128, 128, 137);
  }
  .astraBottom {
    font-size: 12px;
    color: rgb(128, 128, 137);
    margin: 10px 16px 0px !important;
    line-height: 16px;
    text-align: justify;
  }
  .wrapper button {
    background: rgb(255, 66, 78);
    color: rgb(255, 255, 255);
    padding: 13px 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    width: 100%;
    display: block;
    cursor: pointer;
    margin: 15px 0px 0px;
  }
  