.wrapper {
  position: relative;
}
.tagName {
  font-size: 13px;
  line-height: 18px;
  color: rgb(120, 120, 120);
  font-weight: 400;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  transition: all 0.2s ease 0s;
}
.sliderItem img {
  width: 48px;
  height: 48px !important;
  margin-bottom: 4px;
}
.sliderItem {
  margin-right: 3px;
  margin-left: 3px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  padding: 4px 8px;
  height: 98px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  display: flex !important;
}
.sliderWrapperItemSlider {
  width: 100%;
}
