.breadCumbWrapper {
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.containerWrapper {
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.productContainer {
  display: flex;
  margin-bottom: 16px;
  background-color: #fff;
  border-radius: 4px;
}
.productContainerLeft {
  padding: 16px 0px 16px 16px;
  position: relative;
}
.prductContainerMid {
  margin: 0px 12px;
  width: 1px;
  background: rgb(242, 242, 242);
  flex-shrink: 0;
}
.productContainerRight {
  flex: 1 1 0%;
}
.thumbNail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 444px;
  height: 554px;
  cursor: pointer;
}
.productContainerMid {
  margin: 0px 12px;
  width: 1px;
  background: rgb(242, 242, 242);
  flex-shrink: 0;
}
.productHeader {
  padding: 16px 28px 16px 0px;
  position: relative;
}
.brand {
  display: flex;
  margin-top: 8px;
  h6 {
    margin: 0px;
    color: rgb(36, 36, 36);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
  .brandName {
    font-size: 13px;
    line-height: 20px;
    color: rgb(13, 92, 182);
  }
}
.productTitle {
  margin: 0px 0px 4px;
  color: rgb(36, 36, 36);
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  word-break: break-word;
}
.belowTitle {
  display: flex;
  align-items: center;
  margin-top: 4px;
  justify-content: space-between;
}
.review {
  span {
  }
  display: flex;
  align-items: center;
}
.numberReview {
  display: block;
  cursor: pointer;
  margin-left: 8px;
  color: rgb(120, 120, 120);
  font-size: 15px;
  line-height: 24px;
}
.borderReview {
  width: 1px;
  height: 12px;
  background-color: rgb(199, 199, 199);
  margin-left: 8px;
  margin-right: 8px;
}
.sold {
  font-size: 15px;
  line-height: 24px;
  color: rgb(120, 120, 120);
}
.bodyLeft {
  flex: 1 1 0%;
  padding-right: 12px;
}
.priceIcon {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: rgb(250, 250, 250);
  padding: 0px 16px 12px;
}
.productPrice {
  padding-top: 12px;
  display: flex;
  align-items: flex-end;
  color: rgb(255, 66, 78);
}
.currentPrice {
  font-size: 32px;
  line-height: 40px;
  margin-right: 8px;
  font-weight: 500;
}
.minusPrice {
  color: rgb(128, 128, 137);
  text-decoration: line-through;
  font-size: 14px;
  line-height: 20px;
}
.discountRate {
  font-weight: 500;
  margin-left: 4px;
  color: rgb(255, 66, 78);
  margin-top: 3px;
  line-height: 18px;
  font-size: 14px;
  padding: 0px 4px;
}
.giftProduct {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 10px;
  width: fit-content;
}
.cashGift {
  border-radius: 4px;
  background-color: rgb(242, 240, 254);
  display: flex;
  width: fit-content;
  -webkit-box-align: center;
  align-items: center;
  padding: 4px 8px;
  border: 0.5px solid rgb(198, 188, 248);
  margin: 0px;
  cursor: pointer;
  img {
    margin-right: 7px;
    width: 13px;
    height: 16px;
  }
}
.cashGift span:nth-child(2) {
  width: 183px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(64, 45, 161);
  font-weight: 400;
}
.iconGift {
  max-width: 42px;
  margin-left: 8px;
  cursor: pointer;
}
.help {
  background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/question-blue.svg);
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  margin-left: 4px;
}
.bodyRight {
  padding-bottom: 20px;
  width: 240px;
}
.productBody {
  display: flex;
  padding: 0px 24px 0px 0px;
}
.currentSeller {
  border-radius: 4px;
  box-shadow: rgb(242 242 242) 1px 1px 0px 0px inset,
    rgb(242 242 242) -1px -1px 0px 0px inset;
}
.sellerInfo {
  .sellerInfoIcon {
    width: 44px;
    border-radius: 50%;
    overflow: hidden;
  }
  display: flex;
  padding: 8px 12px;
  min-height: 60px;
}
.overviewRight {
  margin: 0px 0px 0px 12px;
}
.sellerName {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 2px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: rgb(36, 36, 36);
  img {
    width: 68px;
    height: 14px;
  }
}
.sellerDetail {
  display: flex;
  min-height: 39px;
}
.itemReview {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  -webkit-box-align: center;
  align-items: center;
}
.title {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  span {
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
  }
}
.subTitle {
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: rgb(120, 120, 120);
}
.starIcon {
  color: rgb(255, 193, 32);
  margin-left: 3px;
}
.borderLeft {
  align-self: center;
  width: 1px;
  height: 16px;
  background-color: rgb(242, 242, 242);
}
.itemNormal {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  -webkit-box-align: center;
  align-items: center;
}
.sellerAction {
  display: flex;
  padding: 12px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.shop {
  display: flex;
  padding: 6px 9px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgb(13, 92, 182);
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
  }
  span {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: rgb(13, 92, 182);
    margin-left: 4px;
  }
}
.follow {
  display: flex;
  padding: 6px 9px;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgb(13, 92, 182);
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
  }
  span {
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: rgb(13, 92, 182);
    margin-left: 4px;
  }
}
.warrantyDetail {
  font-size: 13px;
  line-height: 20px;
  padding: 8px 12px;
  border-top: 1px solid rgb(242, 242, 242);
}
.warrantyItem {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 12px 0px 0px;
  flex-wrap: wrap;
}
.warrantyItem span:nth-child(1) {
  color: rgb(120, 120, 120);
  flex-shrink: 0;
  margin-right: 16px;
}
.vouchers {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  border-top: 1px solid rgb(242, 242, 242);
  padding-top: 16px;
}
.titleVoucher {
  font-size: 15px;
  font-weight: 500;
  color: rgb(36, 36, 36);
  flex: 1 1 0%;
  cursor: pointer;
}
.voucherTags {
  img {
    width: 28px;
    height: 28px;
    margin: 8px 0px 0px -12px;
    cursor: pointer;
  }
  display: flex;
  padding: 0px 4px 0px 0px;
  flex-wrap: wrap;
}
.tag {
  cursor: pointer;
  padding: 3px 12px;
  border: 1px solid rgb(13, 92, 182);
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(13, 92, 182);
  position: relative;
  margin: 8px 12px 0px 0px;
}
.tag::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: transparent rgb(13, 92, 182) rgb(13, 92, 182) transparent;
  border-image: initial;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
  left: -6px;
  transform: rotate(-45deg);
}
.tag::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: transparent rgb(13, 92, 182) rgb(13, 92, 182) transparent;
  border-image: initial;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-radius: 50%;
  right: -6px;
  transform: rotate(135deg);
}
.deliveryZone {
  background-color: rgb(255, 255, 255);
  margin: 16px 0px 0px;
  border-top: 1px solid rgb(242, 242, 242);
}
.address {
  display: flex;
  padding: 12px 0px;
  -webkit-box-pack: justify;
  cursor: pointer;
}
.address span:nth-child(2) {
  text-decoration: underline;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.address span:nth-child(3) {
  color: rgb(11, 116, 229);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  flex-shrink: 0;
}
.shippingIcon {
  img {
    width: 32px;
  }
}
.shippingHeader {
  width: 100%;
  max-width: 100%;
  margin: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 20px;
  font-size: 14px;
}
.divider {
  content: " ";
  width: 1px;
  height: 8px;
  margin: 0px 4px;
  background-color: rgb(235, 235, 240);
}
.shippingDeadline {
  color: rgb(0, 171, 86);
  font-weight: 500;
}
.shippingFree {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.shippingFree span:nth-child(1) {
  color: #00ab56;
}
.shippingFree span:nth-child(2) {
  // color: #00ab56;
  color: #808089;
}
.shippingInfo {
  border: 1px solid rgb(238, 238, 238);
  border-radius: 12px;
  padding: 8px;
  position: relative;
  margin-right: 12px;
  z-index: 1;
  font-size: 13px;
  line-height: 20px;
  color: rgb(120, 120, 120);
  flex: 1 1 0%;
}
.shippingInfoBottom {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(64, 45, 161);
  background-color: rgb(242, 240, 254);
  padding: 4px;
  width: fit-content;
  border-radius: 4px;
  cursor: pointer;
}
.shippingInfoBottom span:nth-child(1) {
  font-size: 11px;
  line-height: 16px;
}
.shippingInfoBottom span:last-child {
  background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/question-blue.svg);
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  margin-left: 4px;
  box-sizing: border-box !important;
  font-size: 11px;
  line-height: 16px;
}
.shippingInfoBottom img {
  width: 13px;
  object-fit: contain;
  margin-right: 5px;
}
.shippingFree {
  margin-bottom: 2px;
}
.addToCart {
  display: flex;
  flex-direction: column;
  margin: 16px 0px 0px;
  padding: 16px 0px;
  border-top: 1px solid rgb(242, 242, 242);
}
.qntyGroup p {
  font-size: 15px;
  line-height: 1.6;
  margin: 0px 0px 10px !important;
}
.groupInput button {
  cursor: pointer;
  width: 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(236, 236, 236);
}
.groupInput button:first-child {
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  padding: 2px;
}
.groupInput button:last-child {
  border-left: none;
  border-radius: 0px 4px 4px 0px;
  padding: 2px;
}
.groupInput input {
  width: 40px;
  border: 1px solid rgb(236, 236, 236);
  height: 30px;
  color: rgb(36, 36, 36);
  font-size: 14px;
  text-align: center;
  outline: none;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.addGroup {
  margin-top: 16px;
  flex: 1 1 0%;
  display: flex;
}
.addGroup button {
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-width: 190px;
  width: 100%;
  max-width: 300px;
  height: 48px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
  outline: none;
}
.addGroup button:first-child {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 57, 69);
}
.addGroup button:nth-child(2) {
  border: 1px solid rgb(13, 92, 182);
  font-size: 15px;
  line-height: 1.6;
  color: rgb(13, 92, 182);
  flex-direction: column;
  text-transform: unset;
  background: white;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 12px;
}
.chat {
  margin: 0px 0px 0px 12px;
  width: 48px;
  height: 48px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgb(13, 92, 182);
  border-radius: 4px;
  cursor: pointer;
}
.chat span {
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  margin: 3px 0px 0px;
  color: rgb(13, 92, 182);
}
.thumbNailBottom {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 74px;
}
.thumbNailBottom button img {
  width: 24px;
}
.thumbNailBottom button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: rgb(242, 240, 254);
  color: rgb(64, 45, 161);
  max-height: 40px;
}
.thumbNailBottom span {
  margin-left: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.customerBenefit {
  display: flex;
  padding: 8px;
  border-top: 1px solid rgb(242, 242, 242);
}
.customerBenefit img {
  width: 32px;
  height: 32px !important  ;
}
.benefitItem {
  background: white;
  display: flex;
  flex-direction: column;
  flex: 1 0 30%;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  align-items: center;
}
.benefitItem span {
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  margin-top: 8px;
}
.compareShop {
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  border-radius: 4px;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 16px;
  padding: 8px 12px;
}
.compareShopLeft {
  max-width: 63%;
}
.compareShopLeft p:nth-child(1) {
  color: rgb(36, 36, 36);
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}
.compareShopLeft p:nth-child(2) {
  color: rgb(120, 120, 120);
  font-size: 13px;
  line-height: 20px;
}
.compareShopRight {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(13, 92, 182);
  border: 1px solid rgb(13, 92, 182);
  border-radius: 4px;
  padding: 6px 12px;
  height: 34px;
  text-align: center;
  display: block;
  margin-left: auto;
  cursor: pointer;
}
.sliderItem {
  padding: 12px !important;
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  cursor: pointer;
  // background-color: rgb(255, 255, 255);
}
.infoItem {
  width: 100%;
  padding: 8px 0px;
  margin: 0px 12px;
  min-height: 94px;
}
.priceItem {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: rgb(56, 56, 61);
  margin: 2px 0px 0px !important;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.titleItem {
  max-height: 40px;
  height: auto;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 40px;
  min-height: 32px;
  margin: 0px;
  width: 100%;
  color: rgb(36, 36, 36);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 16px;
  letter-spacing: 0.1px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}
.titleItem h3 {
  margin: 0px;
  font-weight: 400;
  font-size: 12px !important;
}
.bottomItem {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  margin-top: 3px;
}
.rating {
  display: flex;
  align-items: center;
}
.rating span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgb(128, 128, 137);
}
.sell {
  display: flex;
  align-items: center;
  color: rgb(128, 128, 137);
  line-height: normal;
  font-size: 12px;
  padding-left: 4px;
}
.sellBorder {
  width: 1px;
  height: 9px;
  background-color: rgb(199, 199, 199);
}
.sliderPart {
  margin: 16px 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}
.sliderPart h2 {
  color: rgb(51, 51, 51);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding: 8px 16px;
  text-transform: capitalize;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
}
.sliderItem:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 0px 20px;
}
