@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



.clear {
    clear: both;
}
:root {
    --pr-color: #0fe6ad;
    --se-color: #e16969;
    --te-color: #ffcadc;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Josefin Sans;
  }
      
  body {
  /*     color: #fff; */
      text-align: center;
      background: #333;
      font-size: 20px;
      color: #fff;
      background-image: url('https://j.gifs.com/KYGlEG.gif');
      background-size: cover;
      
  }
  .main {
  /*     background: var(--pr-color); */
      background: linear-gradient(120deg,#89ebd1,#04c592);
      border-radius: 10px;
      margin: 100px auto;
      max-width: 1040px;
      padding: 70px;
      position: relative;
  }
  .tabs {
      position: absolute;
      display: flex;
      top: -70px;
      left: 0px;
  }

  .tab-item {
      padding: 11px 0px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      margin-right: 20px;
  }

  .tab-item a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 7px;
    display: block
}
.tab-item a:hover {
    color: var(--se-color);
    transition: all 0.3s ease;
}

.tabs .line {
      width: 100%;
      height: 6px;
      border-radius: 15px;
      background-color: var(--pr-color);
      transition: all 0.4s ease;
}

  .title {
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
  }
  .title span {
      text-transform: none;
      font-weight: normal;
  }
  .desc {
      font-size: 20px;
  }
  .input-contain {
  /*     display: flex; */
      margin: 0 -10px;
      margin-top: 40px;
  }
  .input-item {
      width: calc(50% - 20px);
      float: left;
      background: rgba(66,29,29,0.15);
      margin: 0 10px;
      border-radius: 5px;
      padding-top: 30px;
      height: 180px;
      position: relative;
  }
  .input-item i {
      font-size: 50px;
      margin-bottom: 15px;
  }
  
  .input-item p {
      margin-top: 15px;
      font-size: 16px;
  }
  .input-item div {
      font-size: 15px;
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 5px;
      margin-top: 14px;
  }
  .input-item input {
      cursor: pointer;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 156px;
      text-indent: -999em;
      border-radius: 5px;
  }
  .input-item input:hover {
      box-shadow: 1px 2px 8px -3px #181616;
      transition: all 0.3s ease;
  }
  #imgPreview {
    text-align: left;
}
.btns {
    text-align: center;
    margin: 20px 0;
    display: none;
}
#imgPreview .imgs {
    height: 150px;
    width: auto;
    margin: 20px 20px 0 0;
}
  .btn {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: auto;
}
.btn:hover {
    box-shadow: 1px 2px 8px -2px #181616;
      transition: all 0.3s ease;
    color: var(--se-color)
}

#upprogress {
    margin: 50px 0 20px 0;
}







.displayNone {
    display: none;
}

.displayBlock {
    display: block;
}




h5 {
    padding: 10px 0;
}

#gridMedia {
    margin-top: 40px;
    text-align: left;
    margin-left: -10px;
    margin-right: -10px
}
#gridMedia div {
    height: 150px;
    width: calc(25% - 20px);
    float: left;
    border-radius: 7px;
    overflow: hidden;
    margin: 10px;
    transition: 0.4s;
    position: relative;
}
#gridMedia img {
    height: 100%;;
    width: 100%;
    object-fit: cover;
    
    cursor: pointer;
    
}
#gridMedia div:hover {
    transform: scale(1.1)
}

.gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    /* transform: scale(0.8); */
    transition: 0.5s
}

.closeBtn {
    position: fixed;
    top: 8%;
    right: 8%;
    font-size: 35px;
    transition: 0.2s;
}
.closeBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.prevBtn {
    font-size: 35px;
    position: absolute;
    left: 8%;
    transition: 0.2s;
}
.prevBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.nextBtn {
    font-size: 35px;
    position: absolute;
    right: 8%;
    transition: 0.2s;
}
.nextBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.innerGallery {
    width: 70%;
    height: 80%;
/*     overflow: hidden; */
}
.innerGallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.showGallery {
    opacity: 1;
    transform: scale(1.1);
    pointer-events: auto;
}

.delImg {
    color: rgb(255,2,2);
    font-size: 25px;
    position: absolute;
    top: 6px;
    right: 5px;
    transition: 0.2s;
    cursor: pointer;
    text-shadow: 0 0 3px #dbcfcf;
    opacity: 0;
}
.delImg:hover {
    transform: scale(1.2)
}
#gridMedia div:hover .delImg {
    opacity: 1;
}

.modal {
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    /* transform: scale(0.8); */
    transition: 0.5s
}
.popDel {
    background: var(--pr-color);
    padding: 30px;
    border-radius: 5px;
}
.popDel__tt {
    font-size: 25px;
    margin-bottom: 30px;
}

.popDel .delBtn {
    background: #dc3545;
    color: #fff;
}
.popDel .canBtn {
    background: #6c757d;
    color: #fff;
}

.showModal {

    opacity: 1;
    transform: scale(1.2);
    pointer-events: auto;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .popOk__is {
    text-align: center;  
     padding: 10px 0;
 }
 .okBtn {
     font-size: 20px;
 }

 .ok__ss {
    text-align: left;
    line-height: 30px;
}

.success {
    color: blue;
    float: right;
    padding-left: 20px;
}
