
@media (min-width: 576px) and (max-width: 768px) {

}
@media (max-width: 575px) {
    .main {
        padding: 40px 20px;
    }
    .title {
        font-weight: 25px;
    }
    .desc {
        display: none;
    }
    .input-item {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }

    #gridMedia div {
        width: calc(50% - 20px);
    }

    .innerGallery {
        width: 90%;
        height: 90%;
    /*     overflow: hidden; */
    }
}