.itemWrapper {
  width: 280px;
  height: 50px;
  //   border: 1px solid var(--border-color);
  border-radius: 10px;
  //   background-color: var(--background-item);
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 5px;
  padding: 0 20px;

  .itemLeft {
    .avatar {
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }

  .itemRight {
    display: flex;
    flex-direction: column;
    span {
      color: var(--white-color);
    }

    .userRank {
      font-size: 14px;
      font-weight: 400;
    }

    .userInfo {
      font-size: 12px;
      font-weight: 300;
    }
  }
}
