.wrapper{
    padding-left:30px;
    padding-right:30px;
<<<<<<< HEAD
    // background-color: #659DBD;
=======
    background-color: #659DBD;
>>>>>>> 63539c33123e4fa6d12e889f9478a4887432fd16
    padding-bottom: 50px;
    display:flex;
}
.leftScreen{
    padding-right:20px;
    flex:5;
}
.rightScreen{
    padding: 20px;
    flex:1;
    border-radius: 10px;
    border: 15px solid #DAAD86;
}