.wrapper{
    align-items: center;
    display: flex;
<<<<<<< HEAD
    // background-color: #659DBD;
    justify-content:space-around;
    color: white;
    padding-top:20px;
=======
    background-color: #659DBD;
    justify-content:space-around;
    color: white;

>>>>>>> 63539c33123e4fa6d12e889f9478a4887432fd16
}
.logo img{
    width:50px;
    // flex:1;
}
.user{
    text-align: right;
    // flex:11;
}
.money img{
    width:50px;
    height:50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.money img:hover{
    scale: 1.2;
<<<<<<< HEAD
}
=======
}
>>>>>>> 63539c33123e4fa6d12e889f9478a4887432fd16
