.wrapper{
    color:#fff;
    align-items: center;
    display:flex;
    // flex-direction: column;
    background-color:#659DBD;
    justify-content: space-around;
    padding-bottom:20px;
}
.wrapper h2:hover{
    color:rgb(141, 135, 65)
}
.wrapper h2{
    transition: all 0.3s ease;
    cursor: pointer;
}
.wrapper h2:last-child:hover{
    color:white;
}
.user img{
    border-radius: 50%;
    // height:60%;
    width:50px;

}
.user{
    align-items: center;
}
.login img{
   width:100%;

}
.login button{
    color:white;
    background-color: #333;
}