.wrapper{
    color:#fff;
<<<<<<< HEAD
    // background-color: #659DBD;
=======
    background-color: #659DBD;
>>>>>>> 63539c33123e4fa6d12e889f9478a4887432fd16
    display:flex;
    justify-content: space-between;
}
.playGame{
    background-color: red;
    position: absolute;
    left:0;
    opacity: 0;
}
