.wrapper{
    color:#fff;
    // background-color: #659DBD;
    display:flex;
    justify-content: space-between;
}
.playGame{
    background-color: red;
    position: absolute;
    left:0;
    opacity: 0;
}
