* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  text-align: center;
  font-size: 40px;
  background-color: yellowgreen;
}

.Main {
  display: flex;
  text-align: center;
  padding: 30px;
}

.react-tabs {
  width: 100%;
  text-align: left;
}

.react-tabs__tab {
  font-size: 30px;
  width: 20%;
  text-align: center;
}

.content {
  margin: auto;
}

.result {
  margin: auto;
  border: 4px solid #b2bbce;
  border-radius: 8px;
  width: 60%;
  height: 100px;
  margin-top: 60px;
  background-color: rgb(208, 225, 219);
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

.keypad button{
  font-size: 25px;
}

.method {
  font-size: 25px;
  font-weight: 700;
}