.container {
  display: flex;
  min-height: calc(100vh - 260px);
  padding-top: 20px;
  padding-bottom: 80px;
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
