.wrapper{
    padding-left:30px;
    padding-right:30px;
    // background-color: #659DBD;
    padding-bottom: 50px;
    display:flex;
}
.leftScreen{
    padding-right:20px;
    flex:5;
}
.rightScreen{
    padding: 20px;
    flex:1;
    border-radius: 10px;
    border: 15px solid #DAAD86;
}