.mainHeader {
  position: relative;
  padding: 8px 0px;
  background: rgb(26, 148, 255);
  z-index: 999;
}
.middle {
  height: 40px;
  display: flex;
}
.container {
  width: 1270px;
  padding: 16px 0px 10px;
  padding-left: 24px;
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
  //   display: flex;
  position: relative;
}
.middleLeft {
  align-items: center;
  flex: 1;
  display: flex;
}
.logo {
  width: 57px;
  height: 40px;
  img {
    width: 60px !important;
    height: 40px !important;
    width: 100%;
    height: 100%;
  }
}
.home {
  img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border-radius: 50%;
  }
  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: rgb(10, 104, 255);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}
.astra {
  img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border-radius: 50%;
  }
  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: rgb(128, 128, 137);
  }
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}
.control {
  top: 47px;
  right: 424px;
}
.user {
  img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 2px;
  }
  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    // color: rgb(128, 128, 137);
  }

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}
.cart {
  img {
    width: 32px;
    height: 32px;
    // margin-right: 4px;
    // border-radius: 50%;
  }
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}

.middleRight {
  justify-content: flex-end;
  align-items: center;
  //   margin-left: 48px;
  display: flex;
}
.bottom {
  padding-top: 1px;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.bottomLeft {
  a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgb(128, 128, 137);
    margin-right: 12px;
    white-space: nowrap;
  }
  display: flex;
  height: 24px;
  width: 872px;
  //   margin-left: 105px;
  margin-top: 8px;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}
.infoUser {
  color: rgb(255, 255, 255);
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.bottomRight {
  img {
    width: 20px;
    height: 20px !important;
    margin-right: 4px;
  }
  h4 {
    margin: 0px;
    display: block;
    color: rgb(128, 128, 137);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding-right: 4px;
  }
  display: flex;
  align-items: center;
}
.address {
  text-decoration: underline;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(39, 39, 42);
}
.formSearch {
  display: flex;
  width: 100%;
  //   border: 1px solid rgb(221, 221, 227);
  align-items: center;
  border-radius: 8px;
  img {
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 18px;
  }
  input {
    padding-left: 10px;
    height: 40.6px;

    border: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    // border-top-left-radius: 8px;
    // border-bottom-left-radius: 8px;
    flex: 1 1 0%;
    outline: none;
  }
  button {
    cursor: pointer;
    border: 0px;
    width: 120px;
    background: rgb(13, 92, 182);
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.logo {
  margin-right: 155px;
}
.quickLinks {
  margin-left: 72px;
  display: flex;
  align-items: flex-start;
}
.bottomRight {
  color: white;
  font-size: 12px;
  margin-top: 12px;
  height: 22px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0px 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.bottomRight img {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}
.bottomRight span {
  line-height: 16px;
  margin-top: 1px;
}
.bottomLeft img {
  height: 18px !important;
  width: 129px;
}
.quickLinks p {
  color: white;
  display: block;
  font-size: 11px;
  line-height: 16px;
  margin-right: 12px !important;
}
